* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header-container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #2973C2;
  font-size: 1.6rem;
  padding: 0 25px;
  color: #2973C2;
  background-color: #ffffff;
}
.header-container #logo {
  font-family: 'Bangers', cursive;
  font-size: 3rem;
  text-decoration: none;
  color: #2973C2;
}
@media (max-width: 800px) {
  .header-container #desktop-nav {
    display: none;
  }
}
.header-container #desktop-nav a {
  text-decoration: none;
  color: #2973C2;
  margin: 0 15px;
}
.header-container .dropdown {
  display: none;
}
@media (max-width: 800px) {
  .header-container .dropdown {
    display: block;
  }
  .header-container .dropdown .dropdown-button div {
    width: 35px;
    height: 3px;
    background-color: #2973C2;
    margin: 6px 0;
  }
  .header-container .dropdown .dropdown-hidden {
    display: none;
  }
  .header-container .dropdown .dropdown-content {
    top: 70px;
    position: fixed;
    height: 2000px;
    width: 250px;
    left: 70%;
    background-color: #ffffff;
  }
}
#jumbotrom {
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-image: url("../img/duy-pham-704498-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 800px) {
  #jumbotrom {
    height: 600px;
    background-image: url("../img/liam-mckay-674319-unsplash.jpg");
  }
}
#jumbotrom div {
  color: #ffffff;
}
#jumbotrom div h1 {
  margin-top: 60px;
  padding: 20px;
}
@media (max-width: 800px) {
  #jumbotrom div h1 {
    margin-top: 300px;
    padding: 30px;
  }
}
#jumbotrom div button {
  padding: 10px;
  width: 150px;
  border-radius: 10px;
  font-size: 2.5rem;
  background-color: #2973C2;
  color: #ffffff;
  margin: 20px;
}
#jumbotrom #main-img {
  width: 70%;
  height: 500px;
  overflow: hidden;
  min-width: 400px;
}
@media (max-width: 800px) {
  #jumbotrom #main-img {
    display: none;
  }
}
#jumbotrom #main-img img {
  max-width: 100%;
  height: auto;
  display: block;
}
.content {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  background-color: #F7F7F7;
  padding: 60px 0;
}
@media (max-width: 800px) {
  .content {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
}
.content div {
  border-radius: 20px;
  margin: 20px;
  background-color: #ffffff;
  max-width: 300px;
  height: auto;
}
@media (max-width: 800px) {
  .content div {
    flex-direction: column;
    max-width: 100%;
    border-radius: 0;
    margin: 0;
  }
}
.content div img {
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
}
@media (max-width: 800px) {
  .content div img {
    border-radius: 0;
  }
}
.content div h1 {
  padding: 30px;
}
.content div p {
  border-radius: 15px;
  padding: 10px;
  margin: 20px;
  font-size: 2rem;
}
.content div button {
  padding: 10px;
  width: 20%;
  border-radius: 10px;
  font-size: 2.5rem;
  background-color: #4CAF50;
  color: #ffffff;
}
.container {
  display: flex;
  align-content: center;
  background-color: #F7F7F7;
}
.container div {
  height: 300px;
  width: 50%;
  text-align: center;
  margin-bottom: 75px;
  padding: 20px;
}
.container div h1 {
  padding: 50px;
}
.container div ul {
  text-align: left;
}
.container div ul li {
  padding: 10px;
  list-style-type: circle;
  list-style-position: inside;
}
.container div input {
  display: block;
  padding: 10px;
  border-radius: 5px;
  margin: 30px;
  transition: width 1s;
}
.container div input[type=text] {
  width: 200px;
  transition: width 0.35s ease-in-out;
}
.container div input[type=text]:focus {
  width: 90%;
}
.container div button {
  padding: 10px;
  width: 150px;
  border-radius: 10px;
  font-size: 2.5rem;
  background-color: #2973C2;
  color: #ffffff;
  margin: 20px;
  height: 50px;
}
#about div {
  text-align: center;
}
#about div h1 {
  padding-top: 60px;
}
#about div p {
  font-size: 1.5rem;
  padding: 50px;
  line-height: 2rem;
}
#about div img {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 50px;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 14px;
  font-size: 1.4rem;
  box-sizing: border-box;
  min-width: 300px;
  margin: 0;
  font-family: 'Questrial', sans-serif;
}
h1 {
  font-size: 3rem;
}
footer {
  height: 200px;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
footer p {
  color: #ffffff;
  padding: 20px;
}
